/* Головний контейнер картки */
.card {
    display: flex;
    align-items: flex-start;
    gap: 24px;
   
    background-color: #fff;
}
.imageWrapper {
    position: relative;
    flex-shrink: 0; 
}

.favoriteButton {
    position: absolute;
    top: 0px;
    right: -530px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.favoriteIcon {
    width: 24px;
    height: 24px;
    fill: #101828;
    transition: transform 0.2s ease;
}

.favoriteButton:hover .favoriteIcon {
    transform: scale(1.2);
    fill: #E44848;
}

.image {
    border-radius: 10px;
    width: 292px;
    height: 320px;
    object-fit: cover;
}

.titlePriceContainer {
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    gap: 16px;
    margin-right: 40px;
    margin-bottom: 8px;
}
/* Контейнер для інформації */
.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex:1;
}

/* Назва кемпера */
.title {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33;
    color: #101828;
    margin: 0;
}

.ratingLocationContainer {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
    
}

.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #475467;
    margin: 0;
    margin-bottom: 24px;
}

/* Локація */
.location {
    font-size: 0.9rem;
    color: #475467;
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #101828;
}

/* Ціна */
.price {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33;
    color: #101828;
    margin: 0;
    
}

/* Кнопка */
.button {
    background-color: #e44a48;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-size: 0.9rem;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.2s ease-in-out;
}

.button:hover {
    background-color: #d84343;
}

.rating {
    font-size: 0.9rem;
    color: #475467;
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    gap: 4px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #101828;
    margin: 0;
}

.options {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 24px;
}

.map
{
    width: 16px;
    height: 16px;
    fill: black;
}

.ac
{
    width: 16px;
    height: 16px;
    fill: #1d1f22;
    margin-right: 8px;
}

.automatic
{
    width: 20px;
    height: 20px;
    fill: #1d1f22;
    margin-right: 8px;
}

.kitchen {
    width: 20px;
    height: 20px;
    fill: #101828;
    margin-right: 8px;
}

.bathroom{
    width: 20px;
    height: 20px;
    fill: #101828;
    margin-right: 8px;
}

.tv{
    width: 32px;
    height: 32px;
    fill: #101828;
    margin-right: 8px;
}

.petrol{
    width: 20px;
    height: 20px;
    fill: #101828;
    margin-right: 8px;
}

.radio{
    width: 20px;
    height: 20px;
    fill: #101828;
    margin-right: 8px;
}


.refrigerator {
    width: 20px;
    height: 20px;
    fill: #101828;
    margin-right: 8px;
}

.microwave {
    width: 20px;
    height: 20px;
    fill: #101828;
    margin-right: 8px;
}

.gas {
    width: 20px;
    height: 20px;
    fill: #101828;
    margin-right: 8px;
}

.water{
    width: 20px;
    height: 20px;
    fill: #101828;
    margin-right: 8px;
}

.features {
    display: flex;
    align-items: center;
    background-color: #f2f4f7;
    border-radius: 100px;
    padding: 8px 12px;
    width: fit-content;
    height: fit-content;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #101828;
    white-space: nowrap;
    cursor: default;
    
}
.featureText {
    font-size: 14px;
}

.favoriteIcon {
    width: 24px;
    height: 24px;
    fill: #e44a48;
    cursor: pointer;
    background-color: none;
}

.feature {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    background: #f9f9f9;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 500;
}

.button {
    background: #e44848;
    border: none;
    border-radius: 100px;
    width: 166px;
    height: 56px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: #fff;
}

.button:hover {
    background: #d84343;
}